# eRO-ExTra database setup

This notebook creates a SQL database **eroextra.db** containing the full catalog of 304 eRO-ExTra sources.

### The following tables are created:

- **"eroextra_master_erosita"** - the master catalog of 304 X-ray sources with eROSITA with their key X-ray properties
- **"optical_follow_up"** - a table of optical follow-up observations conducted this study, linked to corresponding X-ray sources

In [1]:
import sqlite3
from astropy.io import fits
import ast
import numpy as np

from fits_utils import parse_numeric_field,parse_instrument_field,safe_field_access

In [2]:
#load the master ero-extra catalog in fits format
eroextra_catalog_fits = 'data/eroextra_final.fits'
with fits.open(eroextra_catalog_fits) as hdul:
    eroextra_data = hdul[1].data

In [3]:
#load the text file with optical follow-up data
with open("data/optical_data.txt", "r") as f:
    content = f.read()
optical_data = ast.literal_eval(content)

In [4]:
conn = sqlite3.connect("eroextra.db")
cursor = conn.cursor()

In [5]:
# Drop tables if re-running
cursor.execute("DROP TABLE IF EXISTS optical_follow_up;")
cursor.execute("DROP TABLE IF EXISTS eroextra_master_erosita;")

In [6]:
# Create the eroextra_master_erosita table
cursor.execute("""
CREATE TABLE eroextra_master_erosita (
    ero_name TEXT PRIMARY KEY,
    ero_ra REAL,
    ero_dec REAL,
    ero_poserr REAL,
    ero_flux_erass1 REAL,
    ero_flux_erass2 REAL,
    ero_flux_erass3 REAL,
    ero_flux_erass4 REAL,
    ero_flux_erass5 REAL,
    ero_flux_err_erass1 REAL,
    ero_flux_err_erass2 REAL,
    ero_flux_err_erass3 REAL,
    ero_flux_err_erass4 REAL,
    ero_flux_err_erass5 REAL,
    amplitude REAL,
    significance REAL,
    ero_lcclass REAL,
    ero_date TEXT,
    nh REAL,
    ero_gamma REAL,
    ero_gamma_err REAL,
    ero_cstat_dof TEXT,
    ero_flux_mod REAL,
    ero_flux_mod_err REAL
);
""")

insert_sql = """
INSERT OR REPLACE INTO eroextra_master_erosita (
    ero_name, ero_ra, ero_dec, ero_poserr,
    ero_flux_erass1, ero_flux_erass2, ero_flux_erass3, ero_flux_erass4, ero_flux_erass5,
    ero_flux_err_erass1, ero_flux_err_erass2, ero_flux_err_erass3, ero_flux_err_erass4, ero_flux_err_erass5,
    amplitude, significance, ero_lcclass, ero_date, nh,
    ero_gamma, ero_gamma_err, ero_cstat_dof, ero_flux_mod, ero_flux_mod_err
) VALUES (
    ?, ?, ?, ?,
    ?, ?, ?, ?, ?,
    ?, ?, ?, ?, ?,
    ?, ?, ?, ?, ?,
    ?, ?, ?, ?, ?
);
"""

for row in eroextra_data:
    values = (
        row['ero_name'],
        float(row['ero_ra']),
        float(row['ero_dec']),
        float(row['ero_poserr']),
        float(row['ero_flux_erass1']),
        float(row['ero_flux_erass2']),
        float(row['ero_flux_erass3']),
        float(row['ero_flux_erass4']),
        float(row['ero_flux_erass5']),
        float(row['ero_flux_err_erass1']),
        float(row['ero_flux_err_erass2']),
        float(row['ero_flux_err_erass3']),
        float(row['ero_flux_err_erass4']),
        float(row['ero_flux_err_erass5']),
        float(row['amplitude']),
        float(row['significance']),
        float(row['ero_lcclass']),
        row['ero_date'],  # text, no conversion needed
        float(row['nh']),
        float(row['ero_gamma']),
        float(row['ero_gamma_err']),
        row['ero_cstat_dof'],  # text, no conversion
        float(row['ero_flux_mod']),
        float(row['ero_flux_mod_err'])
    )
    cursor.execute(insert_sql, values)

conn.commit()

In [7]:
# Drop and create table
cursor.execute("DROP TABLE IF EXISTS archival_xray;")
cursor.execute("""
CREATE TABLE archival_xray (
    ero_name TEXT,
    arch_flag REAL,
    arch_date TEXT,
    arch_flux REAL,
    arch_flux_err REAL,
    arch_instrument TEXT
);
""")

insert_sql = """
INSERT INTO archival_xray (
    ero_name, arch_flag, arch_date, arch_flux, arch_flux_err, arch_instrument
) VALUES (?, ?, ?, ?, ?, ?)
"""

for row in eroextra_data:
    ero_name = safe_field_access(row, "ero_name")
    
    arch_flag = parse_numeric_field(safe_field_access(row, "ARCH_FLAG"))
    arch_date = parse_numeric_field(safe_field_access(row, "ARCH_DATE"))
    arch_flux = parse_numeric_field(safe_field_access(row, "ARCH_FLUX"))
    arch_flux_err = parse_numeric_field(safe_field_access(row, "ARCH_FLUX_ERR"))
    arch_instrument = parse_instrument_field(safe_field_access(row, "ARCH_INSTRUMENT"))

    n_obs = len(arch_flag)

    def safe_get(lst, idx, default):
        return lst[idx] if idx < len(lst) else default

    for i in range(n_obs):
        values = (
            ero_name,
            safe_get(arch_flag, i, None),
            str(safe_get(arch_date, i, "")) if safe_get(arch_date, i, None) is not None else None,
            safe_get(arch_flux, i, None),
            safe_get(arch_flux_err, i, None),
            safe_get(arch_instrument, i, "")
        )
        cursor.execute(insert_sql, values)

conn.commit()

In [8]:
cursor.execute("DROP TABLE IF EXISTS archival_xray;")

cursor.execute("""
CREATE TABLE archival_xray (
    ero_name TEXT,
    arch_flag REAL,
    arch_date TEXT,
    arch_flux REAL,
    arch_flux_err REAL,
    arch_instrument TEXT
);
""")

def parse_numeric_field(x):
    """Parse numeric field to list of floats, handle None or empty."""
    if x is None:
        return []
    if isinstance(x, str):
        x = x.strip()
        if not x:
            return []
        try:
            val = ast.literal_eval(x)
        except Exception:
            try:
                return [float(x)]
            except Exception:
                return []
        if isinstance(val, (list, tuple)):
            return [float(v) for v in val]
        else:
            return [float(val)]
    else:
        return [float(x)]

def parse_instrument_field(x):
    """Parse instrument field string, splitting on commas, handle None or empty."""
    if x is None:
        return []
    if isinstance(x, str):
        x = x.strip()
        if not x:
            return []
        if x.startswith("(") and x.endswith(")"):
            x = x[1:-1]
        return [item.strip() for item in x.split(",")] if x else []
    else:
        return [str(x).strip()]

def safe_field_access(row, fieldname):
    """ Handle masked values (common in FITS tables)"""
    try:
        value = row[fieldname]
        if hasattr(value, 'mask'):
            if value.mask:
                return None
            else:
                return value.data if hasattr(value, 'data') else value
        return value
    except (KeyError, IndexError, AttributeError):
        return None

insert_sql = """
INSERT INTO archival_xray (
    ero_name, arch_flag, arch_date, arch_flux, arch_flux_err, arch_instrument
) VALUES (?, ?, ?, ?, ?, ?)
"""

for row in eroextra_data:
    ero_name = safe_field_access(row, "ero_name")
    
    arch_flag = parse_numeric_field(safe_field_access(row, "ARCH_FLAG"))
    arch_date = parse_numeric_field(safe_field_access(row, "ARCH_DATE"))
    arch_flux = parse_numeric_field(safe_field_access(row, "ARCH_FLUX"))
    arch_flux_err = parse_numeric_field(safe_field_access(row, "ARCH_FLUX_ERR"))
    arch_instrument = parse_instrument_field(safe_field_access(row, "ARCH_INSTRUMENT"))

    n_obs = max(len(arch_flag), len(arch_date), len(arch_flux), len(arch_flux_err), len(arch_instrument))

    def safe_get(lst, idx, default):
        return lst[idx] if idx < len(lst) else default

    for i in range(n_obs):
        values = (
            ero_name,
            safe_get(arch_flag, i, None),
            str(safe_get(arch_date, i, "")) if safe_get(arch_date, i, None) is not None else None,
            safe_get(arch_flux, i, None),
            safe_get(arch_flux_err, i, None),
            safe_get(arch_instrument, i, "")
        )
        cursor.execute(insert_sql, values)

conn.commit()

In [10]:
cursor.execute("SELECT * FROM archival_xray WHERE ero_name = '1eRASS J014135.0-524620';")
rows = cursor.fetchall()

for row in rows:
    print(row)

('1eRASS J014135.0-524620', 0.0, '53504.0', 1.3852e-12, -1.0, 'XMM-Newton slew')
('1eRASS J014135.0-524620', None, '53741.0', 1.9365e-12, -1.0, 'XMM-Newton slew')
('1eRASS J014135.0-524620', None, '53745.0', 1.4007e-12, -1.0, 'XMM-Newton slew')
('1eRASS J014135.0-524620', None, '57359.0', 2.483e-12, -1.0, 'XMM-Newton slew')
('1eRASS J014135.0-524620', None, '48083.0', 6.1098e-13, -1.0, 'ROSAT-Survey')

In [10]:
# Create the optical_follow_up table
cursor.execute("""
CREATE TABLE archival_xray (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  -- unique ID for each row
    ero_name TEXT NOT NULL,
    arch_flag REAL,
    arch_date TEXT,
    arch_flux REAL,
    arch_flux_err REAL,
    arch_instrument TEXT,
    FOREIGN KEY (ero_name) REFERENCES eroextra_master_erosita(ero_name)
);
""")

insert_sql = """
INSERT INTO optical_follow_up 
    (ero_name, ra, dec, redshift, date, telescope, instrument) 
VALUES (?, ?, ?, ?, ?, ?, ?);
"""

# Insert all rows in a batch
cursor.executemany(insert_sql, optical_data)

In [12]:
cursor.execute("SELECT * FROM optical_follow_up LIMIT 10;")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'eRASSU J001308.6-462524', 3.2844, -46.422, 0.198, '2022-07-03', 'La Silla/NTT', 'EFOSC2')
(2, '1eRASS J004058.3-683816', 10.2434, -68.6388, 0.151, '2023-12-25', 'La Silla/NTT', 'EFOSC2')
(3, 'eRASSU J011430.8-593654', 18.6292, -59.6156, 0.156, '2020-12-12', 'Las Campanas/Baade', 'IMACS')
(4, '1eRASS J014133.4-443413', 25.3891, -44.5706, 0.091, '2021-12-06', 'La Silla/NTT', 'EFOSC2')
(5, '1eRASS J015752.7-520716', 29.4716, -52.1208, 0.499, '2023-12-23', 'La Silla/NTT', 'EFOSC2')
(6, '1eRASS J022756.0-840730', 36.9827, -84.1246, 0.102, '2022-12-31', 'Siding Spring/LCO', 'FLOYDS')
(7, '1eRASS J024140.3-422435', 40.4171, -42.4102, 0.214, '2023-02-03', 'La Silla/NTT', 'EFOSC2')
(8, '1eRASS J024930.1-274958', 42.3771, -27.8327, 0.089, '2023-12-23', 'La Silla/NTT', 'EFOSC2')
(9, 'eRASSU J030334.1-544438', 45.8917, -54.7442, 0.091, '2020-10-14', 'Sutherland/SALT', 'RSS')
(10, 'eRASSU J034425.8-332719', 56.1084, -33.4553, 0.092, '2020-08-22', 'Siding Spring/ANU 2.3m', 'WiFeS')

In [15]:
#commit and close the connection
conn.commit()
conn.close()

In [16]:
conn = sqlite3.connect("eroextra.db")
cursor = conn.cursor()

# Show all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

conn.close()

[('sqlite_sequence',), ('eroextra_master_erosita',), ('optical_follow_up',)]